In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('./Resource/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 933us/step - loss: 325.9216 - accuracy: 0.1778
Epoch 2/100
35/35 [==============================] - 0s 955us/step - loss: 36.3680 - accuracy: 0.4595
Epoch 3/100
35/35 [==============================] - 0s 996us/step - loss: 7.0706 - accuracy: 0.7512
Epoch 4/100
35/35 [==============================] - 0s 989us/step - loss: 4.3386 - accuracy: 0.7532
Epoch 5/100
35/35 [==============================] - 0s 1ms/step - loss: 3.6295 - accuracy: 0.7801
Epoch 6/100
35/35 [==============================] - 0s 947us/step - loss: 2.8867 - accuracy: 0.7718
Epoch 7/100
35/35 [==============================] - 0s 993us/step - loss: 2.6640 - accuracy: 0.7628
Epoch 8/100
35/35 [==============================] - 0s 973us/step - loss: 2.0756 - accuracy: 0.7690
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 1.7999 - accuracy: 0.7667
Epoch 10/100
35/35 [==============================] - 0s 1ms/step - loss: 1.3089 - accuracy: 0.7969
Epoch 11/100
35/35 [==============================] - 0s 1ms/step - loss: 0.9737 - accuracy: 0.7967
Epoch 12/100
35/35 [==============================] - 0s 1ms/step - loss: 0.7340 - accuracy: 0.7892
Epoch 13/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6840 - accuracy: 0.7642
Epoch 14/100
35/35 [==============================] - 0s 951us/step - loss: 0.6247 - accuracy: 0.7744
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6237 - accuracy: 0.7985
Epoch 16/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6507 - accuracy: 0.7979
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6177 - accuracy: 0.7959
Epoch 18/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5151 - accuracy: 0.8312
Epoch 19/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4962 - accuracy: 0.8430
Epoch 20/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6515 - accuracy: 0.8112
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.7472 - accuracy: 0.8216
Epoch 22/100
35/35 [==============================] - 0s 950us/step - loss: 0.5750 - accuracy: 0.7583
Epoch 23/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5463 - accuracy: 0.8043
Epoch 24/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5657 - accuracy: 0.7930
Epoch 25/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5614 - accuracy: 0.8043
Epoch 26/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4954 - accuracy: 0.8123
Epoch 27/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4833 - accuracy: 0.8321
Epoch 28/100
35/35 [==============================] - 0s 962us/step - loss: 0.4904 - accuracy: 0.8341
Epoch 29/100
35/35 [==============================] - 0s 975us/step - loss: 0.4940 - accuracy: 0.8255
Epoch 30/100
35/35 [==============================] - 0s 937us/step - loss: 0.4713 - accuracy: 0.8263
Epoch 31/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4946 - accuracy: 0.8077
Epoch 32/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6887 - accuracy: 0.8062
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5060 - accuracy: 0.8098
Epoch 34/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4818 - accuracy: 0.8136
Epoch 35/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5074 - accuracy: 0.8165
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5780 - accuracy: 0.8103
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4912 - accuracy: 0.8255
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4616 - accuracy: 0.8532
Epoch 39/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4985 - accuracy: 0.8236
Epoch 40/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4886 - accuracy: 0.8196
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4861 - accuracy: 0.8234
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4865 - accuracy: 0.8158
Epoch 43/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4804 - accuracy: 0.8199
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5596 - accuracy: 0.7918
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5044 - accuracy: 0.8080
Epoch 46/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5187 - accuracy: 0.7966
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4833 - accuracy: 0.8386
Epoch 48/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4388 - accuracy: 0.8444
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5215 - accuracy: 0.7959
Epoch 50/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4587 - accuracy: 0.8194
Epoch 51/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4868 - accuracy: 0.8224
Epoch 52/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4929 - accuracy: 0.8330
Epoch 53/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5287 - accuracy: 0.8179
Epoch 54/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5845 - accuracy: 0.7942
Epoch 55/100
35/35 [==============================] - 0s 935us/step - loss: 0.4415 - accuracy: 0.8436
Epoch 56/100
35/35 [==============================] - 0s 935us/step - loss: 0.4664 - accuracy: 0.8302
Epoch 57/100
35/35 [==============================] - 0s 955us/step - loss: 0.5166 - accuracy: 0.8151
Epoch 58/100
35/35 [==============================] - 0s 935us/step - loss: 0.5021 - accuracy: 0.8086
Epoch 59/100
35/35 [==============================] - 0s 911us/step - loss: 0.5255 - accuracy: 0.8152
Epoch 60/100
35/35 [==============================] - 0s 921us/step - loss: 0.4909 - accuracy: 0.8193
Epoch 61/100
35/35 [==============================] - 0s 855us/step - loss: 0.4540 - accuracy: 0.8345
Epoch 62/100
35/35 [==============================] - 0s 950us/step - loss: 0.5686 - accuracy: 0.7979
Epoch 63/100
35/35 [==============================] - 0s 836us/step - loss: 0.5286 - accuracy: 0.8099
Epoch 64/100
35/35 [==============================] - 0s 829us/step - loss: 0.4884 - accuracy: 0.8201
Epoch 65/100
35/35 [==============================] - 0s 834us/step - loss: 0.4414 - accuracy: 0.8406
Epoch 66/100
35/35 [==============================] - 0s 840us/step - loss: 0.4300 - accuracy: 0.8456
Epoch 67/100
35/35 [==============================] - 0s 854us/step - loss: 0.5037 - accuracy: 0.8090
Epoch 68/100
35/35 [==============================] - 0s 866us/step - loss: 0.5366 - accuracy: 0.8208
Epoch 69/100
35/35 [==============================] - 0s 857us/step - loss: 0.5306 - accuracy: 0.8012
Epoch 70/100
35/35 [==============================] - 0s 819us/step - loss: 0.4411 - accuracy: 0.8404
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5010 - accuracy: 0.8094
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4838 - accuracy: 0.8186
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5251 - accuracy: 0.7915
Epoch 74/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4726 - accuracy: 0.8226
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5689 - accuracy: 0.8041
Epoch 76/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4876 - accuracy: 0.8168
Epoch 77/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4499 - accuracy: 0.8345
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4556 - accuracy: 0.8407
Epoch 79/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4645 - accuracy: 0.8193
Epoch 80/100
35/35 [==============================] - 0s 992us/step - loss: 0.4329 - accuracy: 0.8459
Epoch 81/100
35/35 [==============================] - 0s 978us/step - loss: 0.5405 - accuracy: 0.8089
Epoch 82/100

35/35 [==============================] - 0s 978us/step - loss: 0.4531 - accuracy: 0.8305
Epoch 83/100
35/35 [==============================] - 0s 904us/step - loss: 0.5333 - accuracy: 0.8095
Epoch 84/100
35/35 [==============================] - 0s 827us/step - loss: 0.5942 - accuracy: 0.8323
Epoch 85/100
35/35 [==============================] - 0s 800us/step - loss: 0.5034 - accuracy: 0.8001
Epoch 86/100
35/35 [==============================] - 0s 818us/step - loss: 0.4844 - accuracy: 0.8194
Epoch 87/100
35/35 [==============================] - 0s 801us/step - loss: 0.5499 - accuracy: 0.8125
Epoch 88/100
35/35 [==============================] - 0s 810us/step - loss: 0.4945 - accuracy: 0.8348
Epoch 89/100
35/35 [==============================] - 0s 896us/step - loss: 0.4538 - accuracy: 0.8247
Epoch 90/100
35/35 [==============================] - 0s 862us/step - loss: 0.4674 - accuracy: 0.8241
Epoch 91/100
35/35 [==============================] - 0s 843us/step - loss: 0.4733 - accuracy: 0.8152
Epoch 92/100
35/35 [==============================] - 0s 809us/step - loss: 0.4507 - accuracy: 0.8297
Epoch 93/100
35/35 [==============================] - 0s 800us/step - loss: 0.4466 - accuracy: 0.8248
Epoch 94/100
35/35 [==============================] - 0s 850us/step - loss: 0.4387 - accuracy: 0.8366
Epoch 95/100
35/35 [==============================] - 0s 833us/step - loss: 0.4553 - accuracy: 0.8359
Epoch 96/100
35/35 [==============================] - 0s 845us/step - loss: 0.4881 - accuracy: 0.8162
Epoch 97/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4343 - accuracy: 0.8393
Epoch 98/100
35/35 [==============================] - 0s 843us/step - loss: 0.5125 - accuracy: 0.7975
Epoch 99/100
35/35 [==============================] - 0s 820us/step - loss: 0.4456 - accuracy: 0.8492
Epoch 100/100
35/35 [==============================] - 0s 794us/step - loss: 0.4483 - accuracy: 0.8327

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3811 - accuracy: 0.8723
Loss: 0.3810945153236389, Accuracy: 0.8722826242446899